# Pandas Series Operations & Aggregations

In [3]:
import pandas as pd
import numpy as np

In [14]:
series = pd.Series(np.random.randint(1,11,10))

In [15]:
series

0    7
1    9
2    6
3    3
4    5
5    6
6    7
7    7
8    2
9    2
dtype: int32

In [16]:
series + series*2

0    21
1    27
2    18
3     9
4    15
5    18
6    21
7    21
8     6
9     6
dtype: int32

In [18]:
series / series

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
dtype: float64

In [20]:
series//series

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
dtype: int32

In [21]:
series.iloc[[0,2,5]] = np.nan

In [23]:
series + 5

0     NaN
1    14.0
2     NaN
3     8.0
4    10.0
5     NaN
6    12.0
7    12.0
8     7.0
9     7.0
dtype: float64

In [26]:
series.add(5,fill_value=1).astype("int")

0     6
1    14
2     6
3     8
4    10
5     6
6    12
7    12
8     7
9     7
dtype: int32

In [28]:
complex_strings = [
    "Hello, World! 123",
    "Python@OpenAI.com",
    "Data-Science_101",
    "AI*Milano#2024",
    "openAI_for*Life!",
    "GPT-4_is.Amazing",
    "String$Methods%Exercises",
    "Pandas.Series@Python",
    "Machine-Learning&Deep",
    "2024.AI_Revolution!"
]

# Convert the list to a pandas Series
series = pd.Series(complex_strings)

In [30]:
series

0           Hello, World! 123
1           Python@OpenAI.com
2            Data-Science_101
3              AI*Milano#2024
4            openAI_for*Life!
5            GPT-4_is.Amazing
6    String$Methods%Exercises
7        Pandas.Series@Python
8       Machine-Learning&Deep
9         2024.AI_Revolution!
dtype: object

In [31]:
series.str.strip()

0           Hello, World! 123
1           Python@OpenAI.com
2            Data-Science_101
3              AI*Milano#2024
4            openAI_for*Life!
5            GPT-4_is.Amazing
6    String$Methods%Exercises
7        Pandas.Series@Python
8       Machine-Learning&Deep
9         2024.AI_Revolution!
dtype: object

In [33]:
series.str.upper()

0           HELLO, WORLD! 123
1           PYTHON@OPENAI.COM
2            DATA-SCIENCE_101
3              AI*MILANO#2024
4            OPENAI_FOR*LIFE!
5            GPT-4_IS.AMAZING
6    STRING$METHODS%EXERCISES
7        PANDAS.SERIES@PYTHON
8       MACHINE-LEARNING&DEEP
9         2024.AI_REVOLUTION!
dtype: object

In [34]:
series.str.lower()

0           hello, world! 123
1           python@openai.com
2            data-science_101
3              ai*milano#2024
4            openai_for*life!
5            gpt-4_is.amazing
6    string$methods%exercises
7        pandas.series@python
8       machine-learning&deep
9         2024.ai_revolution!
dtype: object

In [36]:
series.str.slice(2,6)

0    llo,
1    thon
2    ta-S
3    *Mil
4    enAI
5    T-4_
6    ring
7    ndas
8    chin
9    24.A
dtype: object

In [38]:
series.str.slice(step=2)

0       Hlo ol!13
1       Pto@pnIcm
2        Dt-cec_0
3         A*iao22
4        oeA_o*ie
5        GT4i.mzn
6    Srn$ehd%xrie
7      Pna.eisPto
8     McieLann&ep
9      22.IRvlto!
dtype: object

In [40]:
series.str.count("a")

0    0
1    0
2    2
3    1
4    0
5    1
6    0
7    2
8    2
9    0
dtype: int64

In [47]:
# "." is treated as regex thats why you have to escape it using \\
series.str.count("\\.a")

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [50]:
series.str.contains("\\.")

0    False
1     True
2    False
3    False
4    False
5     True
6    False
7     True
8    False
9     True
dtype: bool

In [54]:
series.str.replace("a","bbbbbb").replace("A","bbbbbbb")

0                  Hello, World! 123
1                  Python@OpenAI.com
2         Dbbbbbbtbbbbbb-Science_101
3                AI*Milbbbbbbno#2024
4                   openAI_for*Life!
5              GPT-4_is.Ambbbbbbzing
6           String$Methods%Exercises
7     Pbbbbbbndbbbbbbs.Series@Python
8    Mbbbbbbchine-Lebbbbbbrning&Deep
9                2024.AI_Revolution!
dtype: object

In [58]:
series.str.split(" ",expand = True)

                          0       1     2
0                    Hello,  World!   123
1         Python@OpenAI.com    None  None
2          Data-Science_101    None  None
3            AI*Milano#2024    None  None
4          openAI_for*Life!    None  None
5          GPT-4_is.Amazing    None  None
6  String$Methods%Exercises    None  None
7      Pandas.Series@Python    None  None
8     Machine-Learning&Deep    None  None
9       2024.AI_Revolution!    None  None

In [61]:
series.str.len()

0    17
1    17
2    16
3    14
4    16
5    16
6    24
7    20
8    21
9    19
dtype: int64

In [62]:
series.str.startswith("Hello")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

Course assignment: series operations

In [63]:
import pandas as pd
import numpy as np

In [64]:
oil = pd.read_csv("../pandas-course/Pandas Course Resources/retail/oil.csv").dropna()
dates = pd.Series(oil["date"]).iloc[1000:1100]
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])
oil_series = pd.Series(oil_array)
oil_series.index = dates

In [104]:
oil_change = oil_series*1.1+2
oil_change

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Length: 100, dtype: float64

In [105]:
max_oil_price = oil_series.max()

In [144]:
oil_series.reset_index().loc["date"]

KeyError: 'date'

In [130]:
months

('2016', '12', '21')