# Pandas Series basics

In [2]:
import pandas as pd
import numpy as np

In [3]:
array = (np.random.rand(15) *100).round(2)

In [5]:
series = pd.Series(data = array, name = "Random_nums")

In [7]:
series

0     52.57
1     78.32
2     20.66
3     76.96
4     68.50
5     17.63
6     87.59
7     61.68
8     30.80
9     66.27
10    54.87
11    32.60
12    62.34
13    86.99
14     0.53
Name: Random_nums, dtype: float64

In [8]:
series.values

array([52.57, 78.32, 20.66, 76.96, 68.5 , 17.63, 87.59, 61.68, 30.8 ,
       66.27, 54.87, 32.6 , 62.34, 86.99,  0.53])

In [9]:
series.index

RangeIndex(start=0, stop=15, step=1)

In [10]:
series.name

'Random_nums'

In [11]:
series.dtype

dtype('float64')

In [16]:
print(series.mean())
print(series.median())
print(series.std())

53.22066666666667
61.68
26.86986880362108

Pandas data types

In [17]:
pd.Series(data=["one","two","three"])

0      one
1      two
2    three
dtype: object

In [19]:
pd.Series(data=["one","two","three"],dtype="string")

0      one
1      two
2    three
dtype: string

In [28]:
pd.Series(data=["one","two","three",np.nan])

0      one
1      two
2    three
3      NaN
dtype: object

In [21]:
pd.Series(data=["one","two","three",np.nan],dtype="string")

0      one
1      two
2    three
3     <NA>
dtype: string

In [45]:
type(pd.Series(data=["one","two","three",np.nan],dtype="string").iloc[-1])

pandas._libs.missing.NAType

In [31]:
pd.Series(data=["one","two","three",pd.NA],dtype="string")

0      one
1      two
2    three
3     <NA>
dtype: string

In [33]:
numeric = pd.Series([1,5,20])
numeric

0     1
1     5
2    20
dtype: int64

In [34]:
numeric.astype("int8")

0     1
1     5
2    20
dtype: int8

In [38]:
numeric.astype("int")

0     1
1     5
2    20
dtype: int32

In [40]:
numeric.astype("float")

0     1.0
1     5.0
2    20.0
dtype: float64

In [43]:
numeric.astype("bool")

0    True
1    True
2    True
dtype: bool

In [51]:
list(np.array([1,4,np.nan]).astype("int64"))

C:\Users\ZF915FC\AppData\Local\Temp\ipykernel_1876\1933187024.py:1: RuntimeWarning: invalid value encountered in cast
  list(np.array([1,4,np.nan]).astype("int64"))

[1, 4, -9223372036854775808]

NumPy cannot handle missing values if data type of array is not float

Course assignment: Series basics

In [56]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("../pandas-course/Pandas Course Resources/retail/oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [59]:
oil_array = pd.Series(oil_array,name="oil_prices")

In [61]:
print(oil_array.name)
print(oil_array.dtype)
print(oil_array.size)
print(oil_array.index)
print(oil_array.mean())
print(oil_array.median())

oil_prices
float64
100
RangeIndex(start=0, stop=100, step=1)
51.128299999999996
52.19

In [63]:
oil_array.astype("int").mean()

50.66

In [64]:
oil_array

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_prices, Length: 100, dtype: float64