# Pandas Series indexing

In [2]:
import pandas as pd
import numpy as np

In [18]:
series = pd.Series(np.random.randint(0,10,10))

In [19]:
series

0    2
1    0
2    5
3    7
4    9
5    4
6    4
7    7
8    4
9    2
dtype: int32

In [20]:
indexes = ["a","b","c","d","e","f","g","h","i","j"]

In [21]:
series.index = indexes

In [23]:
series["b":"h"]

b    0
c    5
d    7
e    9
f    4
g    4
h    7
dtype: int32

In [24]:
series[::2]

a    2
c    5
e    9
g    4
i    4
dtype: int32

iloc - despite indexes being characters, you can still access them using numeric values 0, 1, 2...

In [29]:
series.iloc[0]

2

In [32]:
series.iloc[1:3]

b    0
c    5
dtype: int32

In [34]:
series["b":"d"]

b    0
c    5
d    7
dtype: int32

In [35]:
series.iloc[::2]

a    2
c    5
e    9
g    4
i    4
dtype: int32

loc

In [37]:
series.loc["a":'j']

a    2
b    0
c    5
d    7
e    9
f    4
g    4
h    7
i    4
j    2
dtype: int32

In [38]:
series.loc[["a","i"]]

a    2
i    4
dtype: int32

In [39]:
series.loc["a":"j":2]

a    2
c    5
e    9
g    4
i    4
dtype: int32

In [42]:
series.reset_index(drop=True,inplace=True)

In [44]:
series

0    2
1    0
2    5
3    7
4    9
5    4
6    4
7    7
8    4
9    2
dtype: int32

Course assignment: Series indexing

In [50]:
oil = pd.read_csv("../pandas-course/Pandas Course Resources/retail/oil.csv").dropna()
dates = pd.Series(oil["date"]).iloc[1000:1100]
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

In [52]:
oil_series = pd.Series(oil_array)

In [54]:
oil_series.index = dates

In [58]:
len_ = oil_series.size

In [65]:
top_ten_upddown = oil_series.iloc[[x for x in range(10)]+[x for x in range(-10,0,1)]]
top_ten_upddown

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
2016-12-28    54.01
2016-12-29    53.80
2016-12-30    53.75
2017-01-03    52.36
2017-01-04    53.26
2017-05-02    47.65
2017-05-03    47.79
2017-05-04    45.55
2017-05-05    46.23
2017-05-08    46.46
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
dtype: float64

In [67]:
top_ten_upddown.iloc[:top_ten_upddown.size//2].mean()

52.765

In [71]:
top_ten_upddown.iloc[top_ten_upddown.size//2:].mean()

47.13

In [72]:
oil_series.loc["2017-01-01":"2017-01-07"]

date
2017-01-03    52.36
2017-01-04    53.26
2017-01-05    53.77
2017-01-06    53.98
dtype: float64

In [83]:
oil_series.loc["2017-01-01":"2017-01-07"].reset_index(drop=True)

0    52.36
1    53.26
2    53.77
3    53.98
dtype: float64