In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("C:\\Users\\ZF915FC\\Downloads\\SampleData\\SampleData.xlsx",sheet_name=1)

In [3]:
df.head()

   OrderDate   Region      Rep    Item  Units  Unit Cost   Total
0 2021-01-06     East    Jones  Pencil     95       1.99  189.05
1 2021-01-23  Central   Kivell  Binder     50      19.99  999.50
2 2021-02-09  Central  Jardine  Pencil     36       4.99  179.64
3 2021-02-26  Central     Gill     Pen     27      19.99  539.73
4 2021-03-15     West  Sorvino  Pencil     56       2.99  167.44

In [4]:
def generate_data(rows):
    OrderDate = pd.date_range(df["OrderDate"].min(),df["OrderDate"].max())
    Region = df["Region"].unique()
    Rep = df["Rep"].unique()
    Item = df["Item"].unique()
    min_units = df["Units"].min()
    max_units = df["Units"].max()
    max_unit_cost = df["Unit Cost"].quantile(0.75)
    min_units_cost = df["Unit Cost"].min()

    data = pd.DataFrame(dict(zip(df.columns,[
    np.random.choice(OrderDate,size=rows),
    np.random.choice(Region,size=rows),
    np.random.choice(Rep,size=rows),
    np.random.choice(Item,size=rows),
    np.random.randint(min_units,max_units+1,size=rows),
    np.random.uniform(min_units_cost,max_unit_cost,size=rows).round(2)

    ])))


    data["Total"] = data["Units"] * data["Unit Cost"]


    data.to_csv("dummy_data.csv",mode="a",header=None)

In [5]:
import multiprocessing

In [6]:
def worker(args):
    generate_data(args)

In [7]:
def multiprocessing_generate(rows_per_batch,n_batches):
    with multiprocessing.Pool() as pool:
        pool.map(worker,[rows_per_batch]*n_batches)

In [9]:
if __name__ == "__main__":
    multiprocessing_generate(10,2)